<div class='card slide-up'>
  <div class='image'></div>
  <div class='caption'>
    <h2 class='caption-title'>Magnificent beast</h2>
    <p class='caption-content'>
      Photo credits to
      <a class='caption-link' href='https://unsplash.com/wolsenburg'>Jay Ruzesky.</a>
      Sourced from
      <a class='caption-link' href='https://unsplash.com/'>unsplash</a>
    </p>
  </div>
</div>


<h1>Registration</h1>
first_name : <input ng-model="firstname" /><br/><br/>
last_name : <input ng-model="lastname" /><br/><br/>
email : <input ng-model="email_address" /><br/><br/>
cell : <input ng-model="idno" /><br/><br/>
id_no : <input ng-model="cellnumber" /><br/><br/>
password : <input ng-model="pass" /><br/><br/>

<input type="button" value="Send" ng-click="postdata(firstname, lastname,email_address,idno,cellnumber,pass)" /> <br/><br/>

<h1>Login</h1>