
<div class="container" ng-repeat="info in getProfile">

    <br>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="profile#profile">My Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="profile#mywallet">My Wallet</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="profile#mydetails">Update My Details</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="profile#contactus">Contact Us</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">

        <div id="profile" class="container tab-pane active" ><br>

            <h3 class="panel-title">
                My Profile - Hello <strong>{{info.fullname}}</strong>
            </h3>

            <div class="container" >
                <div class="row">
                    <div class="col-md-5">
                        <img src="img/cumis.jpg" height="250" width="300"/>
                    </div>

                    <div class="col-md-7">

                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped" id="users">

                                    <tbody><tr>
                                        <td>Full Name</td>
                                        <td >{{info.fullname}}</td>

                                    </tr>
                                    <tr>
                                        <td>E-mail</td>
                                        <td>{{info.email}}</td>
                                    </tr>
                                    <tr>
                                        <td>Phone Number</td>
                                        <td>{{info.cellNo}}</td>
                                    </tr>
                                    <tr>
                                        <td>Address</td>
                                        <td>{{info.address}}</td>
                                    </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>

                    </div>


                </div>

            </div>

        </div>
        <div id="mywallet" class="container tab-pane fade"><br>

            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Payout Details
                    </h3>

                </div>
                <div class="panel-body" ng-repeat="bankinfo in getProfile">
                    <div class="row">
                        <div class="col-md-6">


                            <form method="post" action="profile?tab=4" accept-charset="UTF-8" enctype="multipart/form-data" role="form" class="form-horizontal">

                                <div class="form-group">
                                    <label  class="control-label col-md-3">Account Holder:</label>
                                    <div class="col-md-9">
                                        <label  class="control-label col-md-4">{{info.fullname}}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="control-label col-md-3">Bank Name</label>
                                    <div class="col-md-9">
                                        <label  class="control-label col-md-4">{{info.bank_name}}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="control-label col-md-3">Bank Account</label>
                                    <div class="col-md-9">
                                        <label  class="control-label col-md-4">{{info.bank_account}}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="control-label col-md-3">Balance</label>
                                    <div class="col-md-9">
                                        <label  class="control-label col-md-4">{{info.balance}}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="control-label col-md-3">Available Balance</label>
                                    <div class="col-md-9">
                                        <label  class="control-label col-md-4">{{info.available_balance}}</label>
                                    </div>
                                </div>

                                <br>
                                <div class="form-group">
                                    <button name="addBank" type="submit" class="btn btn-default">Add</button>
                                </div>

                            </form></div>



                    </div>
                </div>
            </div>

        </div>
        <div id="mydetails" class="container tab-pane fade"><br>

            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">

                        Update My Details
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <form method="post" accept-charset="UTF-8" enctype="multipart/form-data" role="form" class="form-horizontal">
                                <br>
                                <div class="form-group">
                                    <label  class="control-label col-md-3">Phone:</label>
                                    <div class="col-md-9">
                                        <input   placeholder="Enter your phone" ng-model="phone_number" class="form-control" >
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label  class="control-label col-md-3">Address:</label>
                                    <div class="col-md-9">

                                        <input   placeholder="Enter your address" ng-model="user_address" class="form-control" >

                                    </div>
                                </div>
                                <br>
                            <!--    <div class="form-group">
                                    <div class="col-md-offset-3 col-md-9">
                                                            <span class="btn btn-default btn-file">
                                                                <span class="fileinput-new">Select Picture</span>
                                                                                                        <input name="logo" type="file"></span>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-3 col-md-9">
                                        <label class="checkbox-inline mar-left5">
                                            <input required="" value="agree" type="checkbox">
                                            I agree to the <a href="#">Terms and Conditions</a>.
                                        </label>
                                    </div>
                                </div>-->
                                <button name="btn-update" type="submit" class="btn btn-default" ng-click="updateData(phone_number,user_address)">Confirm</button>
                            </form>
                        </div>
                        <div class="col-md-3">

                            <div class="form-group">
                                <form method="post" action="profile?tab=3#modal" accept-charset="UTF-8" enctype="multipart/form-data" role="form" class="form-horizontal">								<div class="form-body">
                                    <div class="form-actions">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button name="passChange" type="submit" class="btn btn-default">Change Password</button>
                                        </div>

                                    </div>
                                </div>
                                </form>
                            </div>

                            <br>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div id="contactus" class="container tab-pane fade"><br>


            <div class="row text-center">
                <address class="col-sm-6 col-md-6">
                    <i class="fa fa-microphone i-9x icons-circle text-color light-bg hover-black"></i>
                    <div class="title">Phone</div>
                    <div>+27 10 597 0879</div>
                </address>
                <address class="col-sm-6 col-md-6">
                    <i class="fa fa-envelope i-9x icons-circle text-color light-bg hover-black"></i>
                    <div class="title">Email Addresses</div>
                    <div><a href="mailto:support@example.com">support@laybycafe.co.za</a></div>
                </address>
            </div>
            <hr>
            <br>

        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $(".nav-tabs a").click(function(){
            $(this).tab('show');
        });
    });
</script>