<!--<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center text-white mb-4"></h2>
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <span class="anchor" id="formLogin"></span>

                    &lt;!&ndash; form card login &ndash;&gt;
                    <div class="card rounded-0">
                        <div class="card-header">
                            <h3 class="mb-0 text-center">Login</h3>
                        </div>
                        <div class="card-body">
                            <form class="form" role="form" autocomplete="off" id="formLogin">
                                <div class="form-group">
                                    <label for="uname1">Username</label>
                                    <input type="text" class="form-control form-control-lg rounded-0" name="uname1" id="uname1" required="">
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control form-control-lg rounded-0" id="pwd1" required="" autocomplete="new-password">
                                </div>
                                <div>
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description small">Remember me on this computer</span>
                                    </label>
                                </div>
                                <button type="button" class="btn btn-success btn-lg float-right">Login</button>
                            </form>
                        </div>
                        &lt;!&ndash;/card-block&ndash;&gt;
                    </div>
                    &lt;!&ndash; /form card login &ndash;&gt;

                </div>


            </div>
            &lt;!&ndash;/row&ndash;&gt;

        </div>
        &lt;!&ndash;/col&ndash;&gt;
    </div>
    &lt;!&ndash;/row&ndash;&gt;
</div>-->

<div  class="login-wrap">
    <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
        <div class="login-form">
            <div class="sign-in-htm">
                <div class="group">
                    <label for="user" class="label">Email</label>
                    <input required="" id="user" type="text" class="input" name="email" ng-model="username">
                </div>
                <div class="group">
                    <label for="pass" class="label">Password</label>
                    <input required="" id="pass" type="password" class="input" data-type="password" name="password" ng-model="pword">
                </div>
                <div class="group">
                    <input id="check" type="checkbox" class="check" checked>
                    <label for="check"><span class="icon"></span> Keep me Signed in</label>
                </div>
                <div class="group">
                    <input type="submit" class="button" ng-click="postdata(username, pword)" value="Sign In" >
                </div>


                <div class="hr"></div>
                <div class="foot-lnk">
                    <a href="#forgot">Forgot Password?</a>
                </div>
            </div>
            <div class="sign-up-htm">
                <div class="group">
                    <label for="user" class="label" ng-model="firstname">Username</label>
                    <input id="user" type="text" class="input">
                </div>
                <div class="group">
                    <label for="pass" class="label" ng-model="lastname">Last Name</label>
                    <input id="pass" type="text" class="input" >
                </div>
                <div class="group">
                    <label for="pass" class="label" ng-model="email_address">Email</label>
                    <input id="pass" type="text" class="input" >
                </div>
                <div class="group">
                    <label for="pass" class="label" ng-model="cellnumber">Cell Number</label>
                    <input id="pass" type="text" class="input">
                </div>
                <div class="group">
                    <label for="pass" class="label" ng-model="idno">ID Number</label>
                    <input id="pass" type="text" class="input">
                </div>
                <div class="group">
                    <label for="pass" class="label" ng-model="pass">Password</label>
                    <input id="pass" type="password" class="input">
                </div>
                <div class="group">
                    <label for="pass" class="label" ng-model="pass">Password</label>
                    <input id="pass" type="password" class="input">
                </div>

                <div class="group">
                    <input type="submit" class="button" value="Sign Up" ng-click="postdata(firstname, lastname,email_address,idno,cellnumber,pass)">
                </div>
                <div class="hr"></div>
                <div class="foot-lnk">
                    <label for="tab-1"><a>Already Member?</a></label>
                </div>
            </div>
        </div>
    </div>
</div>





